.Companies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Companies div {
    width: 100%;
}

.no-result {
    font-size: 2rem;
}