.JobCard {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
}

.JobCard div h4 {
  font-size: 1.8rem;
  margin: 0;
  text-align: start;

}

.JobCard div h5 {
  font-size: 1.6rem;
  text-align: start;
  margin: 6px 0;
}
.JobCard div p {
  font-size: 1.6rem;
  margin: 0;
  text-align: start;
}


.JobCard button {
    width: 100px;
    height: 30px;
    background-color: rgb(210, 31, 31);
    border: none;
    color: white;
    cursor: pointer;
}

.JobCard .job-applied {
    background-color: rgb(220, 131, 131);
}